body {
  font-family: Arial, Helvetica, sans-serif;
margin:30px 0px;
 background-color: rgb(246, 231, 238);
  }
  * {box-sizing: border-box;}
  .form-inline {  
    display: inline block;
    flex-flow: row wrap;
    align-items: center;
    
  }

  .form-inline label {
    margin: 5px 10px 5px 0;
    
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    
  }

  .button-section {
    margin: 3%;
  }
  .button {
    padding: 10px 20px;
    background-color: rgb(65, 119, 153);
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgb(9, 78, 83);
  }

  .remove {
    background-color: rgb(49, 54, 125);
  }
  .remove:hover {
    background-color: rgb(47, 17, 118);
  }