.App {
  text-align: center;
}

.field.invalid {
  border: 1px solid red;
  background-color: #dc9898;
}

.field {
   outline: none;
    border: 1px solid rgb(11, 9, 37);
    background-color: rgb(184, 185, 195);
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.field-wrapper {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.form-wrapper {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 5px 5px 5px rgb(158, 107, 162);
  border: 5px solid rgb(78, 39, 88);
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .form-wrapper {
      width: 500px;
  }
}